*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    color:white;

}

a{
    color:white;
    text-decoration: none;
}


/* HEADER */
.btn-up{
    color:white;
    border:1px solid white;
    background: none;
    border-radius: 20px;
    padding: 10px 30px;
}

header{
    position: fixed;
    right:0;
    top:0;
    background: rgb(8, 11, 18);
    width: calc(100% - 225px);
    z-index: 10;
    text-align: right;
    height: 100px;
}
header > div{
    line-height: 100px;
}

/* Main */
main{
    display: flex;
    height: calc(100vh - 80px);
    background-color: #000;
}
aside{
    display: flex;
    background: #000;
    flex-direction: column;
    width: 200px;
    padding-top: 30px;
    padding-right: 10px;
    margin-top: 25px;
    margin-left: 25px;
}
aside ul{
    list-style-type: none;
    
}
.aside-nav img{
    width: 25px;
}
.content{width:calc(100% - 225px);
    padding-top: 90px;
    background-color: rgb(20, 25, 34);
}

.playlist{
    line-height: 40px;
}

.crea-playlist i{
    font-size: 40px;
}

.btn-crea-playlist{
    background:none; 
    border:none;
    color:white;
    margin-right:10px;
}

.crea-playlist a{
    font-weight: 500;
}

.logo{
    padding-bottom: 25px;
    margin-top: -25px;
}
